@font-face {
    font-family: 'Krona One', sans-serif;
    src: url(<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">);

h1 {color: black;}
.paragraph {text-indent: 1.5em;}
div {width: 500px;
    height: 500px;
padding: 25px;
margin: 20px;}
span {color:red;}
#aboutme {position: fixed;
    right: 850px;
top: 275px;
min-width: 900px;
font-family: 'Krona One', sans-serif;}

#education {position: fi;
    right: 850px;
top: 625px;
min-width: 900px;
font-family: serif;}
@media (min-width: 600px) {
    p{
        font-size: 1.25rem;
    }
}
@media (min-width: 800px) {
    p{
        font-size: 1.5rem;
        line-height: 1.5;
    }
}
@media (max-width :200px)
}


#hello {width: 1500px;
padding: 2px
}
#footer {position: fixed;
}
.paragraph {min-width: 1500px}
blockquote {font-size: 1.5rem;
font-family: serif;}
footer {
    background-image: url(images/color.jpeg);
}
.pic {width: 50px;
height: 50px;}
.bigpic{
    position: absolute;
    width:0px;
    -webkit-transition: width 0.3s linear 0s;
    transition: width 0.3s linear 0s; 
    z-index: 10;
}
.pic:hover + .bigpic {
    width:200px;
}
#steps {min-width: 1000px;}
table {
    width: 600px;
    border-spacing: 10px;
}
th {text-align: left;
}
table, th, td {
    border: 1px solid black; 
    border-collapse:collapse
}
th, td {padding: 10px;}

tr:nth-child(odd) {
    background-color: grey;
}
tr:nth-child(even) {
    background-color: white;
}
table {overflow: scroll;}

@media screen and (max-width: 639px) {.title {text-align: left;
}
.smart-table thead { display: none;}

.smart-table tr,
.smart-table td {
    display: block
}

.smart-table tr:not(:last-child) {border-bottom: 5px solid black}

.smart-table td {
    padding-left: 54%;
    position: relative;
}
.smart-table td::before {
    position: absolute
    padding: 5px;
}
@media (min-width: 1000px;){}

.contactForm{width: 40%;
padding: 40px;
background: white;
}
.contactForm
{
    font-size: 30px;
    color: pink;
    font-weight: 500;
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input, textarea
{
    width: 100%
    padding: 5px 0;
}
.contactForm .inputBox span
{position: absolute
left: 0;
}
.contactForm .inputBox input[type="submit"]
{width: 100px;
background-color: violet;
border: none;
cursor: pointer;
padding: 10px;
font-size: 18px;}

@media (max-width: 991px)